﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
    <title>Ember Application</title>


    <!-- Bootstrap CSS -->

    <link href="dist/css/ember-widgets.css" rel="stylesheet" />
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="dist/css/bootstrap-glyphicons.css" rel="stylesheet" />
    <link href="dist/css/bootstrap-social.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <link href="css/ember.css" rel="stylesheet" />
  

    <script src="js/d3.js"></script>
    <script src="js/bubble-chart3.js"></script>
    <script src="js/libs/jquery-1.10.2.js"></script>
    <script src="js/libs/handlebars-v1.3.0.js"></script>
    <script src="js/libs/ember-1.8.1.js"></script>
    <script src="js/ember-data.js"></script>

    <script src="js/moment.js"></script>
    <script src="js/jquery.mockjax.js"></script>
    <script src="js/showdown.js"></script>

    <script src="js/TwitterApplication.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/lodash.min.js"></script>
    <!--<script src="dist/js/list-view-latest.js"></script>-->
    <script src="dist/js/ember-widgets.js"></script>


    <script src="js/classie.js"></script>
</head>
<body>
    <script type="text/x-handlebars">
        <center><h2>Twitter</h2></center>

        <center>
            {{#link-to 'users'}}User{{/link-to}}
        </center>

        {{outlet}}
    </script>

<script type="text/x-handlebars" id='users'>

    <div class="col-12 full-height ">

        <div class="col-sm-3 ">
            <table class='table'>
                <thread>
                    <tr>
                        <th>Choose User</th>
                    </tr>
                </thread>
                {{#each}}

                <tr>
                    <td>
                        {{#link-to 'user' this}}
                        <span class="glyphicon glyphicon-star"></span>
                        <div class="profile">
                            <img {{bind-attr src=profilePictureUrl}} class='profile'></div>
                        <small class='muted'>
                            Logged in As:  {{ userName}}
                        </small>
                        {{/link-to}}

                    </td>

                </tr>
                {{/each}}

            </table>
        </div>
        <!--Space for child tamplate-->
        <div class="col-sm-9 ">

            <p class="lead"><span class="glyphicon glyphicon-info-sign"></span>User Tweets</p>
            {{outlet}}
        </div>


    </div>
    
</script>

    <!--Post Template depending on id-->

<script type="text/x-handlebars" id='user'>
    

  
    

        <div class="col-sm-8 ">
            
            

            <table class='table'>
                <thread>
                    <tr>
                        <th>Users Tweet Thread: <p>{{format-markdown userName}}</p></th>
                    </tr>
                </thread>
                {{#each tweet in tweets}}
               
                <tr>
                    {{#with tweet}}
                    <td>
                        <p>
                          
                            <span class="glyphicon glyphicon-star"></span>

                            <small class='muted'>
                                {{tweet.tweetText}}<br />
                                
                                {{format-date tweet.lastTweetTime}}<br/>
                                {{#each response in tweet.responseTweets}}
                                    <ul>
                                        <li>
                                            @{{response.author.userName}}:
                                            {{response.tweetText}}
                                        </li>
                                    </ul>
                                {{/each}}
                            </small>

                            
                           
                        </p>
                    
                    </td>
                    {{/with}}
                  

                </tr>
                {{/each}}

            </table>


        </div>
  
  

    
</script>




</body>
</html>
