h1 {
  color: #f86c55;  
}

.company-list {
  width: 200px;
  float: left;
  margin-bottom: 2em;
  padding: 0;
  list-style-type: none;
}
  .company-list a {
    display: block;
    padding: 0.4em;
    text-decoration: none;
  }
  .company-list a:hover {
    background-color: #eee;
  }
  .company-list a.active {
    background-color: #f86c55;
    color: white;
  }

select {
  float: right;
  margin-top: 1em;
  position: relative;
}

.bubble-chart {
  float: left;
  width: 400px;

 
}
  .bubble-chart .node {
    cursor: pointer;
  }
  .bubble-chart circle {
    fill: #f8f8f8 !important;
    stroke: #bbb;
    stroke-width: 2px;
  }
  .bubble-chart .node:hover circle {
    stroke: #f86c55;
  }
  .bubble-chart text {
    fill: #f86c55 !important;
    font-size: 12px;
  }
  .bubble-chart .node.active circle {
    fill: #f86c55 !important;
  }
  .bubble-chart .node.active text {
    fill: white !important;
  }
.detail {
  clear: both;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  margin-top: 2em;
}
  .detail h2 {
    margin-top: 0;
  }

@media all and (max-width: 660px) {
.bubble-chart {
    float: left;
    width: 300px;
    height:200px;

}


}
