/* Put your CSS here */
.ember-application {
      background: #deecf1;
   margin:130px 0 0 0;
}

html {
    position:relative;
    min-height:100%;

}
#container {
   min-height:1100px;
   	background: #deecf1;
}
.container {
    min-height:1000px;

     background: #fff;
  background: rgba(255, 255, 255, 0.9);

  border: 1px solid #ccc;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
#header {
    margin:0 auto;
    padding:0 5%;
}

#header:before {
  content: '';
  position: absolute;
    top:0;
  right: 0;
  left: 0;
  height: 15px;
  z-index: 2;
  border-bottom: 1px solid #6c615c;
  background: #8d7d77;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
  background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
#navLiner:after {
  content: '';
  position: absolute;
    top:0;
  right: 0;
  left: 0;
  height: 15px;
  z-index: 2;
  border-bottom: 1px solid #6c615c;
  background: #8d7d77;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
  background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.active {
    font-weight:bold;
}
body{
  
    height: 100%;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*line-height: 1.4em;*/
	background: #eaeaea url('bg.png');
	color: #4d4d4d;
 

    
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizelegibility;
     
}
#banner{
	width:100%;
	height:500px;
	position:fixed;
	top:100px;
	background: #707070;
	
}
#content{
	width:100%;
	position:relative;
	top:400px;
	background: #ebebeb;
	height:1500px;
}

#todoapp {
	

      min-height: 500%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser*/
    background:green;

	border: 1px solid #ccc;
     
	 /*position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
    min-height:100%;*/
    
}

footer{
     position:absolute;
   
    bottom:0;
 
    left:0;
    right:0;
   height:5px;
   
	background:#FBFBFB;
	color:black;
	font-size:11px;

   
  
}

.navbar-collapse {
  text-align:center;
  }
.navbar-nav {
    display:inline-block;
    float:none;
  }
 .transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

ul.unstyled{
	list-style:none;
	padding:0;
	

}
#missionHeader{
	text-align: center;
}
.well .page-header{
	margin-top:0;

}
.well .page-header h1{
	margin-top:0;


}


.widget-container {
  width: 400px;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #444;
}


.profile {
      width: 40px;
  height: 10px ;
}

/* Tweak for the accordion */
.panel-group {
  margin-bottom: 0;
}

/* Tweaks for the carousel */
.modal-content {
  height: 150px;
}

.slide1 {
  background-color: #faa;
}

.slide2 {
  background-color: #afa;
}

.slide3 {
  background-color: #aaf;
}



header {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0683c9;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;

    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    -khtml-opacity: 0.9;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;*/
}
header h1#logo {
     text-decoration:underline;
     padding:15px;
    display: inline-block;
    height: 100px;
    line-height: 50px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav {
    display: inline-block;
    float: right;
}
header nav a {
    line-height: 150px;
    margin-left: 20px;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav a:hover {
    color: white;
}
header.smaller {
    height: 75px;
}
header.smaller h1#logo {
    width: 150px;
    height: 75px;
    line-height: 40px;
    font-size: 30px;
}
header.smaller nav a {
    line-height: 75px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

#footer {
  color:#0683c9;
  padding: 0 15px;
  position: absolute;
  right: 0;
  bottom: -31px;
  left: 0;
  height: 20px;
  z-index: 1;
  text-align: center;
  background-color:black;
}

#footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 31px;
  left: 0;
  height: 50px;
  z-index: -1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
        0 6px 0 -3px rgba(255, 255, 255, 0.8),
        0 7px 1px -3px rgba(0, 0, 0, 0.3),
        0 43px 0 -6px rgba(255, 255, 255, 0.8),
        0 44px 2px -6px rgba(0, 0, 0, 0.2);
}
#todo-count {
  float: left;
  text-align: left;
}

#filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  color: #0683c9;
}

#filters li {
  display: inline;
  color: #0683c9;
}

#filters li a {
  color: #83756f;
  margin: 2px;
  text-decoration: none;
  color: #0683c9;
}

#filters li a.selected {
  font-weight: bold;
  color: #0683c9;
}

#clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 11px;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.bubble-chart {
     margin: 0px;

}

@media all and (max-width: 660px) {
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 50px;
        line-height: 55px;
        text-align: center;
        font-size:35px;
        
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    -khtml-opacity: 0.9;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
    }
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    header.smaller {
        height: 55px;
    }
    header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
        display:none;
    }
    header.smaller nav {
        height: 35px;
        padding: 7.2px;
        font-size:5px;
    }
    header.smaller nav a {
        line-height: 35px;
    }
   #filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  display:none;
}
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
     
}

@media all and (min-width: 660px) {
    nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
    z-index: 1;
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background:-webkit-linear-gradient(top, #efefef 0%,#FFFFFF 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
        z-index: 1;
		content: ""; clear: both; display: block;
	}


    nav ul li {
        z-index: 1;
	float: left;
}
	nav ul li:hover {
        z-index: 1;
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		nav ul li:hover a {
            z-index: 1;
			color: #fff;
		}
	
	nav ul li a {
        z-index: 1;
		display: block; padding: 25px 40px;
		color: #757575; text-decoration: none;
	}


    nav ul ul {
        z-index: 1;
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
        z-index: 1;
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
            z-index: 1;
			padding: 15px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
                z-index: 1;
				background: #4b545f;
			}

nav ul ul ul {
    z-index: 1;
	position: absolute; left: 100%; top:0;
}
}
